body{
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p,li{
    font-family: sans-serif;
    font-size: 20px;
}

#showcase h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom:20px;
}

#showcase img{
    width:90%; 
}

.showcase-right{
    margin-top: 90px;
}

#testmonial{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     color: white;    
    padding:20px 0;
     text-align: center;
}
#testmonial p {
    font-family: 'Josefin Sans';
}

#contact{
    background: url('img/p3.jpg');
    padding: 30px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
